/require/node_modules
/node_modules
/require/public/build
/require/public/hot
/require/public/storage
/require/storage/*.key
/require/vendor
/require/.env
/require/.env.backup
/require/.env.production
/require/prod.env
/require/.phpunit.result.cache
/require/Homestead.json
/require/Homestead.yaml
/require/auth.json
auth.json
/require/npm-debug.log
npm-debug.log
/require/yarn-error.log
yarn-error.log
/.fleet
/.idea
/.vscode
