/*--------VARIABLES-------*/
:root {
    --pink: #FB6F8B;
    --pinkDark: #dd687f;
    --blue: #4287E4;
    --green: #75D5C5;
    --yellow: #F7E953;
    --lightBlue: #DCE6F9;
    --darkBlue: #070A4E;
    --darkGrey: #293036;

    --green50p: rgba(117, 213, 197,0.5);
    --textLight: #6B778C;
    --textGrey: #757575;

    --fontHeader: 'Libre Franklin';
    --fontText: 'Roboto';

    /* --primary: #FC7B97;
    --primaryDark: #c7546d;
    --secondary: #000000;
    --success: #57DDCD;
    --info: #2E93EF;
    --warning: #FBED21;
    --danger: #e74a3b;
    --light: #f8f9fc;
    --dark: #5a5c69;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px; */
}
/*----------INIT----------*/
* {
    margin:0;
    padding:0;
    font-family: var(--fontText);
    font-weight: normal;
    transition: 0.2s ease;
    box-sizing: border-box;
}
html,body {
    width: 100%;
    min-height: 100%;
}
li {
    list-style: none;
}
a,nav a,li a {
    text-decoration: none;
    color:initial;
    font-family: var(--fontHeader);
}
/*---------TEMA----------*/
h1 {
    font-family: var(--fontHeader);
    color:var(--darkBlue);
    font-size: 26pt;
    font-weight: 600;    
}
h5 {
    font-family: var(--fontHeader);
    font-size: 22px;
    color:var(--darkBlue);
    font-weight: 500;
}
p {
    color: var(--darkGrey);
    font-size: 16px;
    font-family: var(--fontHeader);
}
table {
    border:1px solid var(--lightBlue) !important;
    border-right:0 !important;
    border-radius: 8px 8px 0 0;
}
table th {
    background-color: var(--lightBlue) !important;
    border:0 !important;
    color:var(--darkBlue);
    font-family: var(--fontHeader);
    font-weight: 700;
    font-size: 11pt;
}
table th.start {
    border-radius: 8px 0px 0px 0px;
}
table th.end {
    border-radius: 0px 8px 0px 0px;
}
table td {
    border-bottom:0 !important;
    border-right: 1px solid var(--lightBlue) !important;
    color:var(--darkBlue);
    font-size: 16px;
}
/* scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height:9px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 1px 4px #bdcbe7;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--lightBlue); 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--lightBlue); 
}
input.form-control,select.form-select,textarea.form-control{
    border: 2px solid #DFE1E6 !important;
    border-radius: 12px !important;
    margin-bottom: 5px;
    padding: 5px 10px !important;
}
input.form-control:disabled,select.form-select:disabled,textarea.form-control:disabled {
    border: 2px solid #f3f5fa !important;
    background-color: #f3f5fa !important;
}
.dataTables_wrapper .dataTables_paginate {
    font-family: var(--fontText);
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    border: 0 !important;
    background-color: transparent !important;
    background: transparent !important;
    font-family: var(--fontText);
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    color: white !important;
    border: 0 !important;
    border-radius:50px;
    background-color: var(--green) !important;
    background: var(--green) !important;
}

.form-check-input:checked {
    background-color: var(--pink) !important;
    border-color: var(--pink) !important;
}

/*-----------------------*/

.main {
    width: 100%;
    height: 100vh;
    background-image: url('../img/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    display: flex;
}
.main nav {
    padding: 40px 20px;
    box-shadow: 0px 8px 12px rgba(9, 30, 66, 0.12), 0px 0px 1px rgba(9, 30, 66, 0.2);
    width: min-content;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    position: fixed;
    z-index:99;
}
.main nav .nav-menu,
.main nav .nav-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
.main nav .nav-footer {
    gap: 20px;
}
.main nav .nav-menu .menu {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.main nav li img {
    width: 26px;
    height: 26px;
    cursor:pointer;
}
.main nav li a {
    padding:9px 7px 12px;
    border-radius:50px;
    cursor:pointer;
}
.main nav li a.profile {
    width: 50px;
    height: 50px;
    display:flex;
    border-radius: 50px;
    padding:0;
}
.main nav li a.profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;
}
.main nav li a:hover {
    background-color: var(--green50p);
}
.main nav li a.active {
    background-color: var(--green);
}
.main nav li a:hover img,
.main nav li a.active img {
    filter: brightness(1000%);
}
.main nav li a.profile:hover img{
    filter: brightness(120%);
}
/*---------------------------*/
.main .content {
    padding: 50px;
    padding-left: 140px;
    flex-grow: 5;
}
.main .content .breadcrumb {
    display:flex;
    gap: 7px;
    justify-content: flex-start;
    align-items: center;
    font-size: 10pt;
    color: var(--textLight);
}
.main .content .breadcrumb img {
    width: 12px;
    height: 10px;
}
.main .content footer {
    display: flex;
    justify-content: space-around;
    align-items:center;
    padding: 30px 0;
    border-top: 1px double var(--lightBlue);
}
.main .content footer img {
    width: 100px;
}
.main .content footer span {
    color: var(--darkBlue);
    font-size: 11pt;
}
/*-------------------------*/
.menu-primary-dropdown {
    width: 250px;
    box-shadow: 0px 8px 12px rgba(9, 30, 66, 0.12), 0px 0px 1px rgba(9, 30, 66, 0.2);
    border:0;
}
.menu-primary-dropdown li {
    padding:8px 15px;
}
.main nav li ul a {
    padding:0;
    border-radius:0;
}
.main nav li ul a.active {
    background-color: white;
    color: var(--green);
}
.main nav li ul a:hover {
    background-color: white;
}

/*---------OBJETOS---------*/
.info-card {
    box-shadow: 0px 8px 12px rgba(9, 30, 66, 0.15), 0px 0px 1px rgba(9, 30, 66, 0.31);
    border-radius: 3px;
    border-left: 4px solid var(--darkGrey);
    display:flex;
    justify-content: space-between;
    align-items:center;
    width: 310px;
    padding: 15px 20px 12px;
    background-color: white;
}
.info-card p {
    font-weight: 500;
    font-size: 16px;
}
.info-card h1 {
    font-weight: 500;
    font-size: 24px;
    color: var(--darkGrey);
}
.info-card-pink {
    border-left: 4px solid var(--pink);
}
.info-card-yellow {
    border-left: 4px solid var(--yellow);
}
.info-card-green {
    border-left: 4px solid var(--green);
}
.info-cards {
    display: flex;
    gap: 25px;
    padding: 20px 0;
}

.content-table {
    padding: 10px 0;
    margin: 20px 0;
}
.content-chart {
    display: flex;
    justify-content: space-around;
    gap: 50px;
    padding: 20px 0;
    width:100%;
}
.content-chart div {
    width: 50%;
}
.content-chart div canvas {
    width: 100% !important;
    max-height: 300px;
}
.btn1,.btn2,.btn3,.btnSuccess,.btnDanger,.btnWarning {
    background: var(--green);
    border-radius:20px;
    padding: 6px 12px;
    color:white;
    border:0;
    font-size: 14px;
}
.btn2 {
    background: lightgray;
}
.btn3 {
    background: #F0F4F8;
    color: #677684;
}
.btnSuccess {
    background-color: #8AC63E;
}
.btnDanger {
    background-color: #ED4033;
}
.btnWarning {
    background-color: #FBC748;
}
.btn3:hover,.btnSuccess:hover,.btnDanger:hover,.btnWarning:hover {
    opacity: 0.7;
}
.btn3.active {
    background: #D1E5FF;
    color: #2A4DC8;
}
.btn1:hover {
    background: var(--blue);
}
.btn2:hover {
    background: var(--pink);
}
.divider i {
    color: var(--green);
    font-size: 5pt;
}
.button-primary {
    background-color: var(--pink);
    padding: 5px 12px;
    color: white;
    border-radius: 15px;
    border:0;
    font-size: 14px;
}
.button-primary:hover {
    background-color: var(--pinkDark);
}
.favorites i {
    color: var(--pink);
    font-size: 15pt;
}

.card-status-green {
    background: var(--green-g-200, #BAE393);
    color: rgba(60, 111, 32, 1);
    padding: 2px 5px;
}
.card-status-grey {
    background: var(--green-g-200, #bbbbbb);
    color: rgb(102, 102, 102);
    padding: 2px 5px;
}

/*----OTROS----*/

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: inherit !important;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius:50px;
    background-color: transparent;
    background: transparent;
}
.cursor-pointer {
    cursor: pointer;
}

/*------------*/
.table-queue {
    display: none;
}
.dataTables_filter {
    margin-bottom:10px;
}

/*-----------RESPONSIVE--------------*/
@media only screen and (max-width: 600px) {
    /*----Tema---*/
    h1 { font-size: 20pt; }
    h5 { font-size: 18px; }
    /*----Contenido---*/
    .main {
        flex-direction: column;
    }
    .main .content {
        padding: 30px;
        padding-top: 90px;
    }
    .main nav {
        width: 100%;
        height: min-content;
        flex-direction: row;
        padding: 15px 20px;
    }
    .main nav .nav-menu .logo a img {
        width: 25px;
    }
    .main nav .nav-menu,
    .main nav .nav-footer {
        flex-direction: row;
        gap: 10%;
    }
    .main nav .nav-menu .menu {
        flex-direction: row;
        gap: 7px;
    }
    .main nav li a.profile {
        width: 30px;
        height: 30px;
        display:block;
    }
    .main nav li a {
        padding:5px 6px 8px;
    }
    .main nav li img {
        width: 20px;
        height: 20px;
    }
    /*----Objetos----*/
    .info-cards {
        flex-direction: column;
        gap:15px;
        padding: 10px 0;
    }
    .content-table {
        width: 100%;
        overflow-y: hidden;
        overflow-x: scroll;
    }
    .content-chart {
        flex-direction: column;
    }
    .content-chart div {
        width: 100%;
    }
    .content-chart div canvas {
        width: 100% !important;
        max-height: 300px;
    }
}